 <div id="menu">
    <a ng-click="createNewServer()" class="btn btn-small btn-default">create new server</a>&nbsp;&nbsp;
    <a ng-click="setDataUserFromServer(servers)" class="btn btn-small btn btn-info" >Fetch data from server</a><p>
    <div class="panel list-group">
      <div ng-repeat="server in servers">
        <a href="" class="list-group-item" data-toggle="collapse" data-target="#sm{{ $index + 1 }}" data-parent="#menu">{{ server.name_server }} 

    <span class="pull-right">
      <button ng-click="editServer(server.id_server)" class="btn btn-xs btn-info">EDIT</button>
      <button ng-click="deleteServer(server.id_server)" class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </span>
        </a>
        <div id="sm{{ $index +1 }}" class="sublinks collapse" ng-repeat="server in listServices" >
          
          <a class="list-group-item small" ng-repeat="service in server.services" ><span class="glyphicon glyphicon-chevron-right"></span> {{ service }} </a>
        </div>
        <p ng-show="!listServices.length">There are no servers in the list. Update!</p>
      </div>
    </div>
      <!--<div ng-repeat="server in listServices">
          -- nivel 1: {{ server.server }}
            </br>
            <div ng-repeat="service in server.services">
                   -- nivel 2: {{ service }}
            </div>
      </div> -->
  </div>